@{
    ViewBag.Title = "dQDB - Home Page";
}

<h2>@ViewBag.Message</h2>
<p><a href="http://wordnetweb.princeton.edu/perl/webwn?s=dissonance" target="_blank">dissonance</a> n : a conflict of people's opinions or actions or characters.</p> 
<p>New! The site has been ported to ASP.NET MVC 3.</p> 
